.container-93ca2aw {
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: column;


    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7d7e81;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

.header-m32aaw {
    height: 10vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4%;
    padding-right: 4%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-92acn3a {
    height: 90vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 10%;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2.5% 5% 5% 5%;
    background-color: var(--third-color);
}

.title-mzj3dam {
    color: var(--fourth-color) !important;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 3%;
    font-size: 24px !important;
}

.tab-nav-n38can {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.tab-bar-button-zsmk73 {
    span {
        color: var(--fourth-color) !important;
        font-weight: 500;
        text-align: center;
        font-size: 15px !important;
    }

    span:hover {
        color: var(--secondary-color) !important;
    }

    .active {
        color: var(--secondary-color) !important;
    }
}

.bottom-line-38cah {
    width: 88%;
    background-color: var(--secondary-color) !important;
    height: 3px;
    margin-top: 3px;
    text-align: center;
    align-self: center;
    display: flex;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.divider-38cah {
    width: 100%;
    background-color: var(--fourth-color) !important;
    height: 1px !important;
    margin-bottom: 5%;
}

.user-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 600;
    font-size: 16px !important;
}

.user-description-9qncq6 {
    color: var(--fifth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    margin-top: 2px;
    font-weight: 300;
}

.user-info-mc2nw {
    margin-top: 3px;
}

.user-name-info-mc2nw {
    margin-left: 7px;
    color: var(--fourth-color);
}

.cards-row-82ncaj23 {
    height: fit-content;
}

.card-9ama2f {
    height: 18rem !important;
    padding: 5px !important;
    background-color: var(--primary-color) !important;
    cursor: pointer;
}

.card-body-9ama2f {
    padding: 10px !important;
}

.card-name-9ama2f {
    color: var(--fourth-color) !important;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    margin-top: 4px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.card-description-9ama2f {
    color: var(--fourth-color) !important;
    font-size: 14px !important;
    height: 3em;
    width: auto;
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.card-img-9ama2f {
    height: 65%;
}
.light{
    color: var(--fourth-color);
}
.refresh{
    color: var(--fourth-color);
}
.dark{
    color: black !important;
}

@media screen and (max-width: 500px) {
    .title-mzj3dam {
        letter-spacing: 1px;
        margin-top: 6%;
        line-height: 24px;
        margin-bottom: 8%;
        font-size: 15px !important;
    }
}