.profile-image-8qnzcmbw {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.avatar-93nasj {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-details-23mas {
    margin-left: 20px;
}

.username-312c02qena,
.tag-kla3mca2 {
    display: block;
    font-weight: 300;
    font-size: 13px;
}

.username-312c02qena {
    color: var(--fourth-color);
    font-weight: 500;
    font-size: 18px;
}

.tag-kla3mca2 {
    color: var(--eighth-color);
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.account-info-kzh2bw {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.info-title-mczw72b {
    margin-bottom: 4px;
    color: var(--fourth-color);
    font-weight: 500;
    font-size: 18px;
}

.info-desc-mczw72b {
    margin-bottom: 4px;
    color: var(--fourth-color);
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 14px;
}

.info-cards-i73cas {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info-card-9cajy6 {
    display: flex;
    width: 100%;
    gap: 3px;
    padding: 12px;
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info-lable-7cban2d {
    color: var(--eighth-color);
    font-weight: 500;
    font-size: 13px;
}

.info-value-ma82ba {
    color: var(--fourth-color);
    font-weight: 500;
    font-size: 18px;
}

.modal-mcan3 {
    background-color: #343434;
}

.modal-header-mcan3 {
    background-color: #343434;
}

.input-hint {
    font-size: 12px;
    color: #EC5800;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

.form-control-7ajb312 {
    outline: 0;
    background: #dedede;
    border-radius: 7px;
    width: 100%;
    border: 0;
    margin: 10px 0;
    color: #232323;
    padding: 15px;
    font-size: 15px;
}

.form-control-7ajb312:focus {
    box-shadow: 0 0 10px 0 var(--fourth-color);
}

.modal-header-mcan3 {
    background-color: #343434;
}

.modal-mcan3 {
    background-color: #343434;
}

.main-button-7ajb312 {
    outline: 0;
    background: #b78727;
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 7px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-button-7ajb312:hover,
.main-button-7ajb312:active,
.main-button-7ajb312:focus {
    background: #b78727;
    color: #dedede;
    box-shadow: 0 0 10px 0 #b78727;
    font-size: 16px;
}