.container-93ca2aw {
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: column;


    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7d7e81;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
}

.header-3m32aaw {
    height: 10vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4%;
    padding-right: 4%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-92a233a {
    height: 90vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 10%;
    overflow: hidden;
    background-color: var(--third-color);
}

.category-img-9ama2f {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-category-zc62n {
    color: var(--fourth-color) !important;
    font-weight: 500;
    font-size: 16px !important;
}

.left-menu-6k2zzc {
    display: flex;  
    width: 26.6%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    padding: 2.5%;
    background-color: var(--third-color);
}

.right-content-83mzvcj3 {
    display: flex;
    width: 73.4%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    user-select: none;
    background-color: var(--sixth-color);
}

.course-item-27aca92 {
    height: 100px;
    display: flex;
    background-color: aqua;
}

.course-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 15px !important;

}

.course-description-9qncq6 {
    color: var(--fifth-color)!important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    margin-top: 6px;
    font-weight: 300;
}

.course-info-mc2nw {
    margin-top: 3px;
}

.course-name-info-mc2nw {
    margin-left: 7px;
}

.course-item-k3bda {
    width: 100%;
    display: block;
}

.course-item-header-acnk3 {
    background-color: var(--sixth-color);
    padding: 13px 18px;
    /* color: #e9e9e9; */
    display: flex;
    margin-bottom: 12px;
    width: 100%;
    min-width: 10%;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-radius: 13px;
}

.course-item-header-acnk3.active {
    width: 100%;
    background-color: var(--seventh-color);
}

.course-progress-983bzs {
    background-color: var(--secondary-color);
}

.course-label-nja72b {
    color: var(--fifth-color)!important;
    font-size: 11px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.course-value-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 4px 0px 0px;
}

.course-desc-divider-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
    margin: 0px 7px;
}

.course-lessons-38cjwd {
    border-radius: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    margin-bottom: 30px;
    padding: 0px 10px;
}

.module-item-cznj3ad {
    margin-top: -5px;
}

.module-title-cznj3ad {
    color: var(--fourth-color) !important;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 13px !important;
    line-height: 26px;
}

.lesson-item-27aca92 {
    height: 100px;
    display: flex;
}

.lesson-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 13px !important;

}

.lesson-description-9qncq6 {
    color: var(--fifth-color)!important;
    font-size: 11px !important;
    letter-spacing: 0.4px;
    margin-top: 3px;
}

.lesson-info-mc2nw {
    /* margin-top: 3px; */
}

.lesson-name-info-mc2nw {
    margin-left: 5px;
}

.lesson-item-k3bda {
    width: 100%;
    display: block;
}

.lesson-item-header-acnk3 {
    background-color: var(--sixth-color);
    padding: 12px 16px;
    display: flex;
    margin-bottom: 7px;
    width: 100%;
    min-width: 10%;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.lesson-item-header-acnk3.active {
    width: 100%;
    background-color: var(--seventh-color);
}

.lesson-progress-983bzs {
    background-color: var(--secondary-color);
}

.lesson-label-nja72b {
    color: var(--fifth-color)!important;
    font-size: 11px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.lesson-value-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 4px 0px 0px;
}

.lesson-desc-divider-nja72b {
    color: var(--fourth-color) !important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
    margin: 0px 7px;
}

.lesson-lessons-38cjwd {
    border-radius: 13px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    border-width: 1px;
    border-color: var(--primary-color);
    margin-bottom: 12px;
    padding: 12px;
}

.lesson-header-23maaa {
    padding: 16px 20px;
    width: auto;
    background: var(--third-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-color: var(--third-color);
    position: relative;
}

.lesson-title-1mcasa {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05rem;
    text-align: center;
    color: var(--fourth-color);
    width: 75%;
    content: "#";
    margin-right: 2px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.lesson-content-mdak32 {
    height: 100%;
    width: 100%;
    padding: 30px 10% 30vh 10%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
    /* background-color: var(--third-color); */
}

.lesson-video-description-mcajn2 {
    color: var(--fourth-color) !important;
    font-size: 16px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}

.next-button-mdkad {
    margin-top: 20px;
    color: var(--fourth-color) !important;
    font-size: 15px !important;
    letter-spacing: 0.7px;
    font-weight: 300;
}

.next-button-mdkad:hover {
    color: #1E2124 !important;
}

/* 
.next-button-text-mdkad {
} */

.lesson-video-3naksn {
    margin: 0px 5%;
    /* height: 60%; */
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.vp-sidedock .SideDock_module_root__07ab40b6 {
    display: none !important;

}

.custom-logo {
    display: none !important;
}

#sidebar-btn-nack3 {
    display: none;
}

.course-navigation-cnaw34 {
    display: flex !important;
    margin-top: 0 !important;
    flex-direction: row;
    align-items: center;
}

.title-cnaw34 {
    color: var(--fourth-color) !important;
    font-size: 17px !important;
    letter-spacing: 0.7px;
    width: 70%;
    font-weight: 500;
    text-align: center;
    display: none !important;
}

@media screen and (max-width: 1100px) {
    #course-content {
        display: flex;
        width: 100%;
        transition: left 0.3s linear;
    }

    #course-sidebar {
        display: flex;
        width: 47%;
        transition: left 0.3s linear;
    }


    @media screen and (max-width: 870px) {

        .back-icon-nw3rf {
            position: absolute;
            left: 4%;
        }

        .header-3m32aaw {
            justify-content: center !important;
            position: relative;
            display: none !important;
        }

        .header-3m32aaw.visible {
            justify-content: center !important;
            position: relative;
            display: flex !important;
        }

        .title-cnaw34 {
            display: block !important;
        }

        .course-navigation-cnaw34 {
            display: none !important;
            margin-top: 0 !important;
        }

        .lesson-header-23maaa {
            height: 11vh;
            background-color: var(--primary-color);
        }

        .content-92a233a {
            position: unset;
            height: 100vh;
        }

        #course-content {
            display: flex;
            width: 100%;
            transition: left 0.3s linear;
        }

        #course-content.visible {
            display: flex;
            width: 100%;
            position: fixed;
            right: -100%;
            transition: right 0.3s linear;
        }

        #course-sidebar {
            display: none;
            transition: left 0.3s linear;
        }

        #course-sidebar.visible {
            display: flex;
            width: 100%;
            /* margin-top: 11vh; */
            transition: left 0.3s linear;

        }

        #sidebar-btn-nack3 {
            margin-right: 20px;
            cursor: pointer;
            position: fixed;
            left: 2%;
            display: flex !important;
        }
    }
}

/* 
.tab-nav-n38can {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3.5%;
}

.tab-bar-button-zsmk73 {
    span {
        color: var(--fourth-color) !important;
        font-weight: 500;
        text-align: center;
        font-size: 15px !important;
    }

    span:hover {
        color: var(--secondary-color) !important;
    }

    .active {
        color: var(--secondary-color) !important;
    }
}

.bottom-line-38cah {
    width: 12rem;
    background-color: var(--secondary-color) !important;
    height: 3px;
    margin-top: 3px;
    text-align: center;
    align-self: center;
    display: flex;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.divider-38cah {
    width: 100%;
    background-color: #797979 !important;
    height: 1px !important;
    margin-bottom: 5%;
}

.user-name-9qncq6 {
    color: var(--fourth-color) !important;
    font-weight: 600;
    font-size: 16px !important;
}

.user-description-9qncq6 {
    color: var(--fifth-color)!important;
    font-size: 13px !important;
    letter-spacing: 0.7px;
    margin-top: 2px;
    font-weight: 300;
}

.user-info-mc2nw {
    margin-top: 3px;
}

.user-name-info-mc2nw {
    margin-left: 7px;
}

.cards-row-82ncaj23 {
    height: fit-content;
}

.card-9ama2f {
    height: 21.5rem !important;
    padding: 5px !important;
    background-color: var(--primary-color) !important;
    cursor: pointer;
}

.card-body-9ama2f {
    padding: 10px !important;
}

.card-name-9ama2f {
    color: var(--fourth-color) !important;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    margin-top: 4px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.card-description-9ama2f {
    color: #797979 !important;
    font-size: 13px !important;
    height: 3em;
    width: auto;
    line-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
}

.card-img-9ama2f {
    height: 65%;
} */