@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-body-vm34v {
    background-color: #0c1b33;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: url('/assets/matrix-bg-bw-a53c6ae5.jpg');
    background-size: cover;
    background-position: center;
}

.logo-cka34v {
    margin-bottom: 20px;
}

.content_r3rmgd {
    width: 68%;
    max-width: 360px;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-button-v92mc2 {
    outline: 0;
    width: 100%;
    border: 0;
    margin-top: 10px;
    background: rgba(200, 200, 200, 0.4);
    border-radius: 7px;
    padding: 15px;
    color: #dedede;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.side-button-v92mc2:hover,
.side-button-v92mc2:active,
.side-button-v92mc2:focus {
    background: rgba(200, 200, 200, 0.4);
    color: #ffffff;
    font-size: 16px;
}

.main-button-32mci3 {
    outline: 0;
    background: #b78727;
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 7px;
    padding: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-button-32mci3:hover,
.main-button-32mci3:active,
.main-button-32mci3:focus {
    background: #b78727;
    color: #dedede;
    box-shadow: 0 0 10px 0 #b78727;
    font-size: 16px;
}